body {
    background-color: #14bdeb;
    font-family: sans-serif;
    padding: 2rem;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: white;
    padding: 1rem;
    border-radius: .5rem;
}

main.container {
    margin-top: 1rem;
}

.success,
.warning {
    padding: .5rem;
    border-radius: .5rem;
    color: white;
}

.success {
    background-color: #00d894;
}

.warning {
    background-color: #d99ac5;
}